/* common css  */
* {
    margin: 0%;
    padding: 0%;
}
/* -------------------------------------
css custom classes for slider section
------------------------------------- */
.ci1 {
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-image: url(images/cover/mycover1.jpg);
}
.ci2 {
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-image: url(images/cover/mycover2.jpg);
}
.ci3 {
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-image: url(images/cover/mycover3.jpg);
}
.footer-text p {
    line-height: 10px;
}

/* .ci h1 {
    margin: 0;
    color: white;
} */